.layout {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.layoutWithSidebar {
  flex-direction: row;
  align-items: stretch;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  background-color: var(--white);
  border-right: 1px solid var(--lightgrey);
}

.sidebarContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid var(--lightgrey);
}

.sidebarTitle {
  padding:0 2rem;
}

.sidebarActions {
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
}

.content { 
  display: flex;
  flex-grow: 1;
  padding: 2rem;
  align-items: center;  
  justify-content: center;
  background-color: var(--background);
}

.contentWithSidebar { 
  align-items: flex-start;  
  justify-content: flex-start;
}

.toolbar {
  padding: 2rem;
  flex-shrink: 1;
}