:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: #2e95f4;
  --lightblue: #4eb5ff;
  --primary-disabled: #334c64;
  --white: #ffffff;
  --lightgrey: #dddddd;
  --grey: #999999;
  --black: #000000;
  --error: #ef3b7d;
  --bodytext: #333333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
