:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: #3B92E2;
  --lightblue: #4BA2F2;
  --white: #ffffff;
  --lightgrey: #dddddd;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
