.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  gap: 1.25rem;
}

.formActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.25rem;
}