.field {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--lightgrey);
  background: var(--white);
  width: 100%;
}

.field::placeholder {
  color: var(--grey);
  font-size: 0.875rem;
}